/****************************/
/*          Fonts           */
/****************************/
.fs-9-5{
  font-size: 9.5rem;
}

.fs-9{
  font-size: 9rem;
}

.fs-8-5{
  font-size: 8.5rem;
}

.fs-8{
  font-size: 8rem;
}

.fs-7-5{
  font-size: 7.5rem;
}

.fs-7{
  font-size: 7rem;
}

.fs-6-5{
  font-size: 6.5rem;
}

.fs-6{
  font-size: 6rem;
}

.fs-5-5{
  font-size: 5.5rem;
}

.fs-5{
  font-size: 5.5rem;
}

.fs-4-5{
  font-size: 4.5rem;
}

.fs-4{
  font-size: 4rem;
}

.fs-3-5{
  font-size: 3.5rem;
}

.fs-3{
  font-size: 3rem;
}

.fs-2-5{
  font-size: 2.5rem;
}

.fs-2{
  font-size: 2rem;
}

.fs-1-5{
  font-size: 1.5rem;
}

.fs-1{
  font-size: 1rem;
}

.fs-0-5{
  font-size: .5rem;
}
